APP_NAME=GalaxyPHP
APP_ENV=local
APP_DEBUG=true
APP_URL=http://127.0.0.1:8080
APP_TIMEZONE=Asia/Kolkata

SESSION_NAME=galaxy_session
SESSION_SECURE=false
SESSION_SAME_SITE=Lax

STORAGE_PATH=storage
LOG_LEVEL=debug
